In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/Users/yuhyun/Downloads/trainingDATA.csv", index_col="회차",encoding="cp949")

In [ ]:
data.index #데이터의 인덱스 출력

In [ ]:
data.columns

In [ ]:
data.shape

# 기본연산

In [ ]:
data["몸무게"]

In [ ]:
data["몸무게"].mean #평균값

In [ ]:
data["몸무게"].describe() #기본통계치 출력

In [ ]:
data["지점"]

In [ ]:
data["지점"]=data["지점"].replace("강남구","강남")  #강남구를 강남으로 바꾸기 데이터의 지점을 바꾼값으로 대체후 저장하기

In [ ]:
data["몸무게"]=data["몸무게"].fillna(123) #nan채우고 저장하기

In [ ]:
data["뭄무게(prev)"]=data["몸무게"].shift(+1) #행을 기준으로 뒤의값을 출력 
data["뭄무게(post)"]=data["몸무게"].shift(-1) #하루후의 값을 확인

In [ ]:
data["측정일"]     #측정일 확인 
data["측정일"]=pd.to_datetime(data["측정일"]) #int 데이터라 명시

In [ ]:
data["측정일"].dt.year

In [ ]:
data["측정일"].dt.month

In [ ]:
data["측정일"].dt.day

# 행열검색

In [91]:
columns=["이름","측정일","몸무게"]
data[["이름","측정일","몸무게"]] # 이름이랑 측정일이랑 몸무게데이터 들고오기, 대괄호가 두개인 이유는 리스트자료라서 그럼

    이름        측정일    몸무게
회차
1   철수 2029-01-01   76.4
2   철수 2029-01-02   75.7
3   철수 2029-01-03   76.0
4   철수 2029-01-04  123.0
5   철수 2029-01-05   76.2
6   철수 2029-01-06   75.7
7   철수 2029-01-07  123.0
8   철수 2029-01-08  123.0
9   철수 2029-01-09   75.0

In [102]:
data.loc[] #index출력

SyntaxError: invalid syntax (<ipython-input-102-4583e0c87e40>, line 1)

In [111]:
data.loc[1]["이름"] #첫번째 행과  이름을 출력 
data.loc[1,"이름"] #이게더빠름

294 µs ± 31.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [114]:
data.at[1,"이름"] #at property는 두개이상에선 못함

'철수'

# 색인

In [120]:
data[data["담당"]=="Kim1"] #담당열의 kim1을 출력

    이름        측정일    몸무게  단위    담당   지점  뭄무게(prev)  뭄무게(post)
회차
1   철수 2029-01-01   76.4  kg  Kim1   강남        NaN       75.7
2   철수 2029-01-02   75.7  kg  Kim1   강남       76.4       76.0
3   철수 2029-01-03   76.0  kg  Kim1   강남       75.7      123.0
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.0       76.2
5   철수 2029-01-05   76.2  kg  Kim1   강남      123.0       75.7
6   철수 2029-01-06   75.7  kg  Kim1  여의도       76.2      123.0
7   철수 2029-01-07  123.0  kg  Kim1  여의도       75.7      123.0
8   철수 2029-01-08  123.0  kg  Kim1  여의도      123.0       75.0
9   철수 2029-01-09   75.0  kg  Kim1  여의도      123.0        NaN

In [122]:
data[data["몸무게"]>76]  #76이넘는 회차 출력

    이름        측정일    몸무게  단위    담당   지점  뭄무게(prev)  뭄무게(post)
회차
1   철수 2029-01-01   76.4  kg  Kim1   강남        NaN       75.7
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.0       76.2
5   철수 2029-01-05   76.2  kg  Kim1   강남      123.0       75.7
7   철수 2029-01-07  123.0  kg  Kim1  여의도       75.7      123.0
8   철수 2029-01-08  123.0  kg  Kim1  여의도      123.0       75.0

In [124]:
data["담당"].isin(["Choi","Kim2"]) #choi 와 kim2 의 담당열 출력

회차
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: 담당, dtype: bool

In [127]:
data[data["담당"].str.contains("Kim")] #kim이란 값만 뽑아오기

    이름        측정일    몸무게  단위    담당   지점  뭄무게(prev)  뭄무게(post)
회차
1   철수 2029-01-01   76.4  kg  Kim1   강남        NaN       75.7
2   철수 2029-01-02   75.7  kg  Kim1   강남       76.4       76.0
3   철수 2029-01-03   76.0  kg  Kim1   강남       75.7      123.0
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.0       76.2
5   철수 2029-01-05   76.2  kg  Kim1   강남      123.0       75.7
6   철수 2029-01-06   75.7  kg  Kim1  여의도       76.2      123.0
7   철수 2029-01-07  123.0  kg  Kim1  여의도       75.7      123.0
8   철수 2029-01-08  123.0  kg  Kim1  여의도      123.0       75.0
9   철수 2029-01-09   75.0  kg  Kim1  여의도      123.0        NaN

In [131]:
data[data["뭄무게(prev)"].isnull()] #nan이있는 값의 T/F 표시

    이름        측정일   몸무게  단위    담당  지점  뭄무게(prev)  뭄무게(post)
회차
1   철수 2029-01-01  76.4  kg  Kim1  강남        NaN       75.7

In [132]:
data[data["뭄무게(prev)"].notnull()] #nan가 아닌값만 표시

    이름        측정일    몸무게  단위    담당   지점  뭄무게(prev)  뭄무게(post)
회차
2   철수 2029-01-02   75.7  kg  Kim1   강남       76.4       76.0
3   철수 2029-01-03   76.0  kg  Kim1   강남       75.7      123.0
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.0       76.2
5   철수 2029-01-05   76.2  kg  Kim1   강남      123.0       75.7
6   철수 2029-01-06   75.7  kg  Kim1  여의도       76.2      123.0
7   철수 2029-01-07  123.0  kg  Kim1  여의도       75.7      123.0
8   철수 2029-01-08  123.0  kg  Kim1  여의도      123.0       75.0
9   철수 2029-01-09   75.0  kg  Kim1  여의도      123.0        NaN

In [136]:
(data["몸무게"]>75.5) & (data["담당"]=="Kim1")   #몸무게가 75.5보다크고 Kim1이 담당한데이터, 각조건마다 ()걸어놔야함

회차
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9    False
dtype: bool

# 컬럼 추가및 수정

In [139]:
data["지역"] = "서울"  #서울이란 행만들기

In [145]:
data["결제"] = [True, True, True, True, False, True, True, False ,True]

In [148]:
pd.pivot_table(data, index="담당", values="몸무게")# pivot table 사용  불러올데이터, 행 , 값

              몸무게
지점  담당
강남  Kim1   76.075
여의도 Kim1  103.940

In [153]:
pd.pivot_table(data, index=["지점", "담당"], values="몸무게", aggfunc="sum") #여러개 인덱스와 함수추가

            몸무게
지점  담당
강남  Kim1  304.3
여의도 Kim1  519.7

# 칼럼삭제

In [155]:
data.drop(1) #1행 삭제

    이름        측정일    몸무게  단위    담당   지점  뭄무게(prev)  뭄무게(post)  지역     결제
회차
2   철수 2029-01-02   75.7  kg  Kim1   강남       76.4       76.0  서울   True
3   철수 2029-01-03   76.0  kg  Kim1   강남       75.7      123.0  서울   True
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.0       76.2  서울   True
5   철수 2029-01-05   76.2  kg  Kim1   강남      123.0       75.7  서울  False
6   철수 2029-01-06   75.7  kg  Kim1  여의도       76.2      123.0  서울   True
7   철수 2029-01-07  123.0  kg  Kim1  여의도       75.7      123.0  서울   True
8   철수 2029-01-08  123.0  kg  Kim1  여의도      123.0       75.0  서울  False
9   철수 2029-01-09   75.0  kg  Kim1  여의도      123.0        NaN  서울   True

In [158]:
data.drop(["결제","뭄무게(prev)"], axis="columns") #행삭제

    이름        측정일    몸무게  단위    담당   지점  뭄무게(post)  지역     결제
회차
1   철수 2029-01-01   76.4  kg  Kim1   강남       75.7  서울   True
2   철수 2029-01-02   75.7  kg  Kim1   강남       76.0  서울   True
3   철수 2029-01-03   76.0  kg  Kim1   강남      123.0  서울   True
4   철수 2029-01-04  123.0  kg  Kim1  여의도       76.2  서울   True
5   철수 2029-01-05   76.2  kg  Kim1   강남       75.7  서울  False
6   철수 2029-01-06   75.7  kg  Kim1  여의도      123.0  서울   True
7   철수 2029-01-07  123.0  kg  Kim1  여의도      123.0  서울   True
8   철수 2029-01-08  123.0  kg  Kim1  여의도       75.0  서울  False
9   철수 2029-01-09   75.0  kg  Kim1  여의도        NaN  서울   True